html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #F4F4F4;
  margin: 0 0 100px;
}
h1, h2, h3, h4 ,h5, h6, p {font-family: 'Roboto', sans-serif;}

header {
  height: 80px;
  background-color: #2D2727;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.75);
  padding: 10px 0;
}

#main-container{
  position: relative;
}

aside, section {
  position: relative;
  min-height: calc(100vh - 180px)!important;
}

.marvel-logo-img {
  max-height: 60px;
}

.search-character-form {
  max-width: 600px;
  padding: 5px 0;
  font-family: 'Poppins', sans-serif;
}

.group-items {
  overflow: hidden;
  vertical-align: middle;
  white-space: nowrap;

  /* position: relative; */
}
.group-items input#search-character{
  margin: 0;
  padding: 0.5rem;
  height: 50px;
  border: none;
  font-size: 1.1em;
  float: left;
  padding-left: 15px;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

.group-items input#search::-webkit-input-placeholder {
   color: #65737e;
}
.group-items input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;
}
.group-items input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;
}
.group-items input#search:-ms-input-placeholder {
   color: #65737e;
}

.group-items button.icon{
	-webkit-border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  -moz-border-radius-bottomright: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: none;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 0;
  font-size: 1.5em;
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}

/* ANIMATION EFFECT */
.group-items:hover button.icon, .group-items:active button.icon, .group-items:focus button.icon{
  outline:none;
  opacity: 1;
  margin-left: -50px;
  cursor: pointer;
}

.left-container, .right-container {
  padding: 2rem 0;
}

.left-cont-main-title {
  padding-bottom: 1em;
}

.section-title-icon{
  display: inline-block;
  margin: 0.5rem 0;
}

.section-title {
  display: inline-block;
  font-weight: bold;
  color: #3D3332;
  vertical-align: bottom;
}

.sort-by-select {
  max-width: 300px;
  height: 60px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  margin: 0;
}

aside {
  background-color: rgba(188, 188, 188, 0.2);
}

.aside-title-icon{
  display: inline-block;
  margin: 0.7rem 0;
  margin-right: 1rem;
}

.aside-title {
  display: inline-block;
  font-weight: bold;
  color: #3D3332;
  vertical-align: bottom;
}

.characters-list-cont {
  padding-left: 2em;
}

.characters-list-cont .card {
  font-size: 0.85em;
}

.card-char-name {
  font-weight: bolder;
  color: #473D3C;
  margin-top: -0.7em;
  text-transform: uppercase;
}

.card-char-description  {
  color: #686868;
  font-size: 0.85em;
  line-height: 1.5;
  height: 100px;
  content:"\02026";
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

.character-img-cont{
  margin-top: -1.3em;
  margin-left: -2em;
}

.card-character-img {
  max-width: 200px;
  height: 200px;
  border-radius: 100px;
  overflow: visible;
  position: relative;
  border-radius: 50%;
  -webkit-box-shadow: 2px 1px 7px 0px rgba(134, 134, 134, 0.75);
  -moz-box-shadow: 2px 1px 7px 0px rgba(134, 134, 134, 0.75);
  box-shadow: 2px 1px 7px 0px rgba(134, 134, 134, 0.75);
}

.character-outer-cont {
  transition: 0.15s ease;

}

.character-outer-cont:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  transition: 0.15s ease;
  transition-timing-function: ease-in-out;
}

.character-inner-cont {
  background-color: #fff;
  margin: 1.5em 0;
  height: 350px;
  transition: 0.15s ease;
}

.character-inner-cont:hover {
  transition: 0.15s ease;
  transition-timing-function: ease-in-out;
  -webkit-box-shadow: 1px 7px 18px 1px rgba(183, 181, 181, 0.75);;
  -moz-box-shadow: 1px 7px 18px 1px rgba(183, 181, 181, 0.75);;
  box-shadow: 1px 7px 18px 1px rgba(183, 181, 181, 0.75);;
}

.card-character-description {
  float:left!important;
}

.cad-more-btn {
  background-color: #EC1D23;
  color: #fff;
  text-transform: uppercase;
  padding: 1em 0.8em;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
}

.cad-more-btn:hover {
  background-color: #ff0000;
}


.details-title {
  font-weight: bolder;
  color: #786e6d;
}

.comics-cont {
  min-height: 150px;
  margin-top: 20px;
}

.comics-title {
  color: #786e6d;
  overflow:hidden;
  font-size: 0.8em;
  height: 2.5em;
  font-family: 'Poppins', sans-serif;
  display: inline-block !important;
  line-height: 1.4;
}

a .comics-title:hover {
  color: #EC1D23;
}

.character-cont {
  margin-bottom: 3em;
}

.character-cont > .row {
}

footer {
  background-color: #2D2727;
  height: 100px;
  padding: 0.5em;
  width:100%;
  bottom: 0;
  position: absolute;
}

footer>div {
  margin: 0.5em 0;
}

.copy-right {
  color: #fff;
  font-size: 12px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.cr-grability-logo {
  max-height: 50px;
}
.cr-grability-logo{
  margin: 0.5em 0;
}

.char-comics-section {

}

/* Modal Popup */

.add-buy-cont {
  height: 70px;
  display: block;

}

.add-fav-img {
  margin: 0 0.3em;
  vertical-align:middle;
  background-image: url('../icons/btn-favourites-default.png');
}

.add-comic-img {
  margin: 0 0.3em;
  vertical-align:middle;
}

.add-buy-img {
  margin: 0 0.3em;
  vertical-align:middle;
}

.add-comics, .buy-comics {
  text-transform: uppercase;
  font-weight: bolder;
  margin: 0;
  padding: 1em 0;
  cursor: pointer;
}
.add-comics {
  color: #2d2626;
  background-color: #F0F0F0;
}

.add-comics-selected {
  color: #EC1D23;
  background-color: #322827;
}

.modal-comic-name {
  color: #2d2626;
  font-weight: bolder;
  margin: 1em;
}

.fav-comic-cont {
  position: relative;
}

.trash-comic {
  display: block;
  margin-top: -5px;
  text-align: right;
}

.icon-delete-comic{
  position: absolute;
  top: -15px;
  right: 20px;
}

.modal-comic-img {
  padding: 0 2em;
}

.buy-comics {
  background-color: #DCDCDC;
  color: #EC1D23;
}

.add-selection, .buy-selection {
  vertical-align: middle;
}

.comic-modal-img {
  height: 400px;
  width: auto;
  padding: 1em;
}

.modal-char-img {
  -webkit-box-shadow: 4px 4px 8px 3px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 4px 4px 8px 3px rgba(0, 0, 0, 0.6);
  box-shadow: 4px 4px 8px 3px rgba(0, 0, 0, 0.6);
  border-radius: 2px;
}

.modal-char-name {
  font-weight: bolder;
  color: #ff043a;
  text-transform: uppercase;
}

.modal-char-description  {
  color: #dcdcdc;
  font-size: 0.9em;
  line-height: 1.5;
  content:"\02026";
  font-family: 'Poppins', sans-serif;
}

.modal-comics-title {
  color: #d0d0d0;
  overflow:hidden;
  font-size: 0.85em;
  font-family: 'Poppins', sans-serif;
  padding-left: 1px;
}



.comics-title-active {
  color: #ff043a;
  background-image: url('../icons/link-arrow.png');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 18px;
  padding-left: 25px;
}

.reveal {
  max-width: 810px;
  border: 0;

}

.star-icon-marvel-inner {
  background-color: #413536;
  color: #F0F0F0;
  border-radius: 50%;
  padding: 6px 7px;
  font-size: 11px;
  margin: 5px;
}

.star-icon-marvel-outer {
  background-color: transparent;
  border-radius: 50%;
  padding: 8px 1px 10px 1px;
  border: 5px solid #413536;
  margin: 5px;
}

.modal-cont {
  max-width: 800px !important;
  background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/type.png');
  border-radius: 2px;
}

#exampleModalB button {
  background-color: transparent !important;
  color: #fff !important;
  border: 3px solid;
}

#exampleModalB button:hover {
  color: #ff043a !important;
  background-color: transparent !important;
  border: 3px solid;
}

.modal-inner-info {
  background-color: rgba(0,0,0,0.3);
  border-radius: 3px;
  padding: 2em 1em;
}

.modal-inner-cont {
  background-color: transparent;
  padding-top: 3em;
}

.modal-inner-cont-2 {
  padding-bottom: 1em;
}

.close-button {
  border-radius: 50%;
  background-color: #2D2727;
  color: #fff;
  margin: 10px;
}

.close-button > span {
  padding: 10px 7px;
  font-weight: bolder;
}

#exampleModal1C button:hover {
  color: #ff043a !important;

}

.modal-comic-title {
  font-weight: bolder;
  letter-spacing: 1px;
  color:#3E3232;
  text-transform: uppercase;
}

.modal-comic-summary {
  color:#3E3232;
  font-size: 0.9em;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

.character-modal-inner {
  background-color: transparent;
  padding: 3em;
}

.modal-img-char{
  margin: 2em;
}

.comic-show-cont {
  padding:0;
  max-width: 800px !important;
  overflow-x: hidden;
}

.comic-show-cont p {
  color: #786e6d;
  font-size: 1em;
  font-family: 'Poppins', sans-serif;
}

.comic-show-cont h4 {
  font-weight: bolder;
  letter-spacing: 1px;
  color:#3E3232;
  text-transform: uppercase;
}


.char-name-comic-selected {
  color: red;
}

/* Pagination classes */

.pagination .current {

}

.pagination li{
  width: 50px;
  height: 50px;
  border: 1px solid #dedede;
  font-size: 1em;
  vertical-align: bottom;
  text-align: center;
  margin: 0 4px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 1px 2px 4px -1px rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 2px 4px -1px rgba(0,0,0,0.3);
  box-shadow: 1px 2px 4px -1px rgba(0,0,0,0.3);
  cursor: pointer;
  padding-top: 0.6em
}

.pagination li a, .pagination li a:hover{
  width: 100%;
  height: 100%;
  font-size: 1em;
  vertical-align: bottom;
  text-align: center;
  cursor: pointer;
  background-color: transparent !important;
}

.pagination li:hover {
  background-color: #fff;
}

.pagination li.current {
  background-color: #fff;
  border: 0;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.3);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.3);
  box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.3);
  padding-top: 0.6em
}

.pagination li.current button {
  color: #3D3332;
}

.pagination li button {
  margin: 1em auto;
  color: #C6C2C3;
  font-weight: bolder;
  cursor: pointer;
}

.pagination li.ellipsis {
  padding: 0.5em 0;
}

.pagination .ellipsis::after {
  color: #C6C2C3;
  font-weight: bolder;
}

.pagination li button:hover {
  background-color: transparent;
  color: #3D3332;
}

.pagination li .fa {

}

.pagination .disabled {
  padding: 8px;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  .search-character-form #search-character {
    font-size: 0.9em !important;
  }
  .search-character-form button {
    font-size: 1.2em !important;
  }
  .card-char-description  {
    height: auto;
  }
  .character-img-cont {
    margin: -1em 0 1em 0;
    text-align: center;
  }
  .characters-list-cont {
    padding: 0;
  }
  .card-char-name {
    text-align: center;
  }
  .character-inner-cont {
    height: auto;
  }
  .sort-by-select {
    height: auto;
  }
  .add-selection, .buy-selection{
    font-size: 0.8em;
  }
  .add-comic-img, .add-buy-img {
    margin: auto;
    vertical-align: middle;
    display: block;
  }
  .character-modal-inner {
    padding: 0;
  }
  .modal-char-name {
    text-align: center
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {

}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {

}

/* Large and up */
@media screen and (min-width: 64em) {
  aside {
    width: 25% !important;
  }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {

}
